@keyframes ldio-3orykbk73f2 {
  0% { transform: rotate(0deg) }
  100% { transform: rotate(360deg) }
}
.ldio-3orykbk73f2 > div > div {
  transform-origin: 160.5px 160.5px;
  animation: ldio-3orykbk73f2 5.88235294117647s linear infinite;
  opacity: 0.9
}
.ldio-3orykbk73f2 > div > div > div {
  position: absolute;
  left: 131.60999999999999px;
  top: 131.60999999999999px;
  width: 28.89px;
  height: 28.89px;
  border-radius: 28.89px 0 0 0;
  transform-origin: 160.5px 160.5px
}.ldio-3orykbk73f2 > div div:nth-child(1) {
  animation-duration: 1.4705882352941175s
}
.ldio-3orykbk73f2 > div div:nth-child(1) > div {
  background: #1c202c;
  transform: rotate(0deg);
}.ldio-3orykbk73f2 > div div:nth-child(2) {
  animation-duration: 1.9607843137254901s
}
.ldio-3orykbk73f2 > div div:nth-child(2) > div {
  background: #575960;
  transform: rotate(0deg);
}.ldio-3orykbk73f2 > div div:nth-child(3) {
  animation-duration: 2.941176470588235s
}
.ldio-3orykbk73f2 > div div:nth-child(3) > div {
  background: #1c202c;
  transform: rotate(0deg);
}.ldio-3orykbk73f2 > div div:nth-child(4) {
  animation-duration: 5.88235294117647s
}
.ldio-3orykbk73f2 > div div:nth-child(4) > div {
  background: #1c202c;
  transform: rotate(0deg);
}
.loadingio-spinner-wedges-4pi245bc18g {
  width: 321px;
  height: 321px;
  max-width: 321px;
  max-height: 321px;
  display: inline-block;
  overflow: hidden;
  background: #f3f3f3;
  border-radius: 2rem;
  transform-origin: center;
  transform: rotate(45deg);
  pointer-events: none;
}
.loader-parent-container{
  background-color: transparent;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.loader-parent-container h4{
  font-size: 24px;
  font-family: "Input Sans", sans-serif;
  color: var(--text-white);
  font-weight: 300;
  padding-top: 4rem;
  pointer-events: none;
  user-select: none;
}
.ldio-3orykbk73f2 {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
}
.loader-parent-container h4 span {
  opacity: 0;
}

.loader-parent-container h4 span:nth-child(1) {
  animation: loader-dot-first infinite;
  animation-duration: 1.2s;
}

.loader-parent-container h4 span:nth-child(2) {
  animation: loader-dot-second infinite;
  animation-duration: 1.2s;
}

.loader-parent-container h4 span:nth-child(3) {
  animation: loader-dot-third infinite;
  animation-duration: 1.2s;
}

@keyframes loader-dot-third {
  0%{
    opacity: 0;
  }
  25%{
    opacity: 0;
  }
  50%{
    opacity: 0;
  }
  75%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@keyframes loader-dot-second {
  0%{
    opacity: 0;
  }
  25%{
    opacity: 0;
  }
  50%{
    opacity: 0;
  }
  60%{
    opacity: 1;
  }
  75%{
    opacity: 1;
  }
  100%{
    opacity: 1;
  }
}

@keyframes loader-dot-first {
  0%{
    opacity: 0;
  }
  25%{
    opacity: 1;
  }
  50%{
    opacity: 1;
  }
  75%{
    opacity: 1;
  }
  100%{
    opacity: 1;
  }
}
.ldio-3orykbk73f2 div { box-sizing: content-box; }
/* generated by https://loading.io/ */