.about-content{
    width: 100%;
    max-width: var(--content-max-width);
    background-color: #232427;
}
.image-block{
    height: 60vh;
    width: 100%;
    background-image: url("../../assets/images/about/aboutusbigimage.jpg");
    background-size: cover;
    background-position: center center;
}
.about-section{
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    min-height: 80vh;
    background-color: #1e1e1e;
    display: grid;
    grid-template-rows: 1fr 3fr 3fr;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
}
.about-section div{
    padding-left: 8%;
    padding-right: 8%;
    overflow: hidden;
}
.about-section div:nth-child(1){
    grid-column-start: 1;
    grid-column-end: 3;
}
.about-section div:nth-child(2),
.about-section div:nth-child(4){
    grid-column-start: 0;
    grid-column-end: 2;
}
.about-section div:nth-child(3),
.about-section div:nth-child(5){
    grid-column-start: 2;
    grid-column-end: 3;
}
.about-section div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about-section div h1{
    color: var(--text-white);
    font-size: 54px;
    text-align: center;
    font-weight: 300;
    font-family: "IBM Plex Sans", sans-serif;
}
.about-section div h2{
    color: var(--text-white);
    font-size: 28px;
    text-align: center;
    font-weight: 300;
    font-family: "IBM Plex Sans", sans-serif;
    width: 100%;
    padding: 0;
}
.about-section div p{
    font-size: 18px;
    text-align: left;
    font-weight: 300;
    font-family: "Input Sans", sans-serif;
    color: var(--text-gray);
    width: 80%;
}
.about-section div img{
    border-radius: 3rem;
    width: 100%;
    padding: 2rem;
}

@media screen and (max-width: 1000px){
    .about-section{
        width: var(--content-width-1000);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 2rem;
    }
    .about-section div:nth-child(4){
        order: 1;
    }
    .about-section div:nth-child(5){
        order: 0;
    }
}
@media screen and (max-width: 700px){
    .about-section{
        width: 100%;
    }
}
