.news-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.news-header{
    width: 100%;
    height: auto;
    padding-left: 4%;
    padding-right: 4%;
    background-color: #222534;
    display: flex;
    justify-content: space-between;
    border-bottom-left-radius: 0.2rem;
    border-bottom-right-radius: 0.2rem;
}
.news-header ul{
    list-style-type: none;
    display: flex;
    height: 100%;
    margin: 0;
}
.news-header ul li{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2.2rem;
    min-width: 120px;
    background-color: #2e2e57;
    cursor: pointer;
    color: var(--text-white);
    font-weight: 300;
    font-family: "Lato", Verdana, sans-serif;
    font-size: 18px;
    margin-left: 0.1rem;
    letter-spacing: 0.1rem;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    position: relative;
}
.news-header ul li:before{
    content: "";
    width: 100%;
    position: absolute;
    height: 6px;
    left: 0;
    bottom: -6px;
    background-color: var(--text-gray);
    opacity: 0;
    transition: opacity 0.3s ease-in;
}
.news-header ul li:hover:before{
    opacity: 0.8;
}
.news-header ul li.news-active:hover:before{
    opacity: 0;
}
.news-active{
    border-bottom-color: var(--text-white)!important;
}
.news-content{
    width: 100%;
    min-height: 100vh;
    background-color: #232427;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1.2rem;
}

.news-first-article-container{
    width: 90%;
    min-height: 340px;
    max-height: 340px;
    display: grid;
    grid-template-rows: 2fr 3fr 1fr;
    grid-template-columns: 1fr 1fr;
    border-radius: 1.2rem;
    text-decoration: none;
    margin-top: 2.4rem;
    background: linear-gradient(#232222, #2d2d2d);
    box-shadow: 1px 3px 2px #232222;
}
.news-first-image-wrap{
    grid-column-start: 0;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
    border-top-left-radius: 1.2rem;
    border-bottom-left-radius: 1.2rem;
    max-height: 340px;
    height: 100%;
}
.news-first-image-wrap img{
    width: 100%;
    height: 100%;
    max-height: 340px;
    border-top-left-radius: 1.2rem;
    border-bottom-left-radius: 1.2rem;
}
.news-first-article-container div h1{
    color: var(--text-white);
    text-align: right;
    font-weight: 300;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 28px;
    padding-right: 1.4rem;
}
.news-first-article-container div p{
    color: var(--text-gray);
    text-align: right;
    font-weight: 400;
    font-family: "Input Sans", sans-serif;
    font-size: 16px;
    margin-top: 0;
    padding-right: 1.4rem;
}
.news-first-article-container div span{
    color: #8d959d;
    font-size: 16px;
    float: right;
    padding: 1.4rem;
}

.news-first-article-container div > *{
    text-decoration: none;
}
.news-preview-container{
    width: 90%;
    margin-top: 2.4rem;
    min-height: 100vh;
}

.news-search-container{
    width: 100%;
    padding: 1.4rem 8%;
    height: auto;
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px solid white;
}
.search-form{
    display: flex;
    width: 350px;
}
.search-form input[type=text]{
    width: 70%;
    border-radius: 2rem 0 0 2rem;
    border: 2px solid #2b2d31;
    background-color: #e5e3e3;
    border-right: none;
    font-size: 16px;
    font-family: "Lato", Verdana, sans-serif;
    height: auto;
}
.search-form input[type=text]:focus{
    background-color: #fafafa;
}
.search-form input[type=submit]{
    width: 30%;
    border-radius: 0 2rem 2rem 0;
    border: 2px solid #2b2d31;
    border-left: none;
    background-color: #4b4b8a;
    color: #e5e3e3;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    height: auto;
}
.search-form input[type=submit]:hover{
    background-color: #343477;
    color: #f6f6f6;
}
.news-preview-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.news-row{
    width: 90%;
    display: grid;
    grid-gap: 2rem;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 2rem;

}
.news-row div{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1.6rem;
    padding-bottom: 1.2rem;
}
.news-row div.article-exists{
    background: radial-gradient(#1c202c, #1e2331);
    border: 1px solid #727272;
    box-shadow: 1px 2px 1px #333232;
    min-height: 310px;
    transition: all 0.3s ease-in;
    position: relative;
    filter: grayscale(60%);
}
.news-row div.article-exists a{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.news-row div.article-exists a h4{
    width: 95%;
}
.news-row div.article-exists:hover{
    transform: scale(1.05);
    filter: grayscale(0);
}
.article-exists a{
    text-decoration: none;
}
.article-exists h4{
    min-height: 53px;
}
.news-row div a{
    width: 100%;
    min-height: 100px;
    height: auto;
    border-top-right-radius: 1.6rem;
    border-top-left-radius: 1.6rem;
}
.news-row div a img{
    width: 100%;
    height: 100%;
    border-top-right-radius: 1.6rem;
    border-top-left-radius: 1.6rem;
}
.news-row div h4{
    text-align: center;
    color: var(--text-white);
    font-weight: 300;
    font-size: 14px;
}
.news-row div span{
    text-align: center;
    color: var(--text-gray);
    font-weight: 400;
    font-size: 12px;
}
.news-content.short-height .news-content{
    min-height: auto;
}
.news-content.short-height .news-preview-container{
    min-height: auto;
}
.news-content.short-height .news-first-article-container{
    min-height: auto;
}
.news-empty{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.news-empty:before{
    content: "";
    width: 50%;
    height: 80%;
    top: 0;
    left: 0;
    background-image: url("../../../assets/images/application/news/news-empty.png");
    background-size: cover;
    background-position: center center;
    position: absolute;
    transform: translateX(50%);
    opacity: 30%;
    transition: opacity 0.3s ease-in;
}
.news-empty:hover:before{
    opacity: 50%;
}
.news-empty h2{
    font-size: 44px;
    font-family: Lato, Verdana, sans-serif;
    font-weight: 300;
    text-align: center;
    color: var(--text-gray);
    text-shadow: 1px 2px 1px #282626;
    z-index: 5;
}

@media screen and (max-width: 1350px) {
    .news-first-article-container div h1{
        font-size: 24px;
    }
    .news-first-article-container div p{
        font-size: 14px;
    }
}

@media screen and (max-width: 1200px) {
    .news-row{
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 1100px) {
    .news-first-article-container{
        grid-template-rows: 4fr 2fr 2fr 1fr;
        grid-template-columns: 1fr;
        padding-bottom: 2.4rem;
        height: auto;
        border-top-left-radius: 1.2rem;
        border-top-right-radius: 1.2rem;
        max-height: none;
    }
    .news-first-image-wrap{
        grid-column-start: 0;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 3;
        border-top-left-radius: 1.2rem;
        border-top-right-radius: 1.2rem;
    }
    .news-first-image-wrap img{
        border-top-left-radius: 1.2rem;
        border-top-right-radius: 1.2rem;
    }
    .news-first-article-container div h1,
    .news-first-article-container div p{
        text-align: center;
    }
    .news-first-article-container div h1{
        padding-right: 0;
    }
    .news-first-article-container div p{
        padding-right: 0;
    }
    .news-row{
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
    }
    .news-row div h4{
        font-size: 18px;
        width: 80%;
    }
    .news-empty{
        width: 100%;
    }
    .news-empty:before{
        width: 80%;
        transform: translateX(20%);
    }
}
.news-image{
    min-height: 180px;
}
@media screen and (max-width: 700px) {
    .news-header ul li{
        max-width: 150px;
    }
    .news-preview-container{
        padding-bottom: 6rem;
    }
    .news-first-article-container{
        max-height: 100vh;
        grid-template-rows: 2fr 1fr 1fr 1fr;
    }
    .news-first-article-container div p{
        font-size: 16px;
        text-align: center;
        width: 95%;
    }
    .news-first-image-wrap{
        /*max-height: 25vh;*/
    }
    .news-header{
        justify-content: center;
    }
    .news-menu-all{
        padding-left: 0;
    }
    .news-menu-staff{
        padding-left: 0;
    }
    .news-search-container{
        justify-content: center;
    }
    .news-row{
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: 1fr;
    }
    .news-row div{
        width: 80%;
        justify-self: center;
    }
    .news-row div span{
        align-self: flex-end;
        padding-right: 4rem;
        font-size: 14px;
    }
    .news-empty:before{
        width: 100%;
        transform: translateX(0);
    }
}