.profile-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profile-content{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*min-height: 90vh;*/
    height: auto;
    background-color: #232427;
}
.profile{
    width: 100%;
    display: grid;
    grid-template-rows: 2fr 1fr 3fr 1fr;
    grid-template-columns: 1fr 2fr;
}
.profile > *{
    padding: 0.4rem;
    font-family: Lato, "Verdana", sans-serif;
    color: var(--text-gray);
}
.profile-menu-block,
.profile-header-block,
.profile-logout-block,
.profile-main-block{
    display: flex;
}
.profile-preview-block{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #292a2d;
}
.profile-preview-img-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    position: relative;
    cursor: pointer;
}
.profile-preview-img-wrap img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 2px solid #53555b;
    box-shadow: 1px 1px 1px #555a60;
    pointer-events: none;
}
.profile-preview-img-wrap:before{
    content: "Change";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    top: 0;
    left: 0;
    transition: opacity 0.2s ease-in;
    color: var(--text-white);
    background-color: #33353b;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-family: 'IBM Plex Sans', sans-serif;
}
.profile-preview-img-wrap:hover:before{
    opacity: 0.6;
}
.profile-avatar-form{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 0.8rem 8%;
}
.profile-avatar-form img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}
.profile-avatar-form input{
    width: 50%;
}
.profile-avatar-form input[type=submit],
.profile-avatar-form-back{
    background-color: transparent;
    border-radius: 1.6rem;
    border-color: #656975;
    color: var(--text-gray);
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
}
.profile-avatar-form-back{
    width: 30%;
    padding: 0.2rem 8%;
    margin-top: 0.4rem;
    color: #835050;
}
.profile-avatar-form input[type=submit]:hover,
.profile-avatar-form-back:hover{
    color: var(--text-white);
    background-color: #464545;
}
.profile-preview-block h1{
    font-size: 24px;
    font-family: Lato, "Verdana", sans-serif;
    font-weight: 300;
    color: var(--text-white);
}
.profile-menu-block{
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}
.profile-logout-block{
    /*grid-row: 3 / 4;*/
    grid-row: 3;
    grid-column: 1 / 2;
}

.profile-header-block,
.profile-main-block{
    border-left: 1px solid #34363a;
    padding: 0;
}
.profile-header-block{
    border-bottom: 1px solid #34363a;
}
.profile-logout-block{
    justify-content: center;
}
.profile-logout-block h3{
    color: #8a1b31;
    font-weight: 400;
    align-self: flex-end;
    cursor: pointer;
    margin: 0;
    padding: 0.8rem 1.4rem;
    border: 1px solid transparent;
}
.profile-logout-block h3:hover{
    color: #ad2b45;
    border-radius: 2rem;
}
.profile-header-block{
    justify-content: center;
    align-items: flex-end;
}
.profile-header-block h2{
    font-weight: 300;
    font-size: 26px;
    margin: 0;
    text-transform: capitalize;
    padding-bottom: 1.2rem;
}
.profile-menu-block{
    padding: 0;
    flex-direction: column;
    justify-content: flex-end;
}
.profile-menu{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
    margin: 0;
}
.profile-menu-item{
    list-style: none;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    width: 100%;
    padding-left: 0;
    cursor: pointer;
    position: relative;
}
.profile-menu-item:before{
    transition: all 0.2s ease-in;
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #6e7883;
    opacity: 0;
}
.profile-menu-item:hover:before{
    opacity: 14%;
}
.profile-menu-item:hover{
    color: var(--text-white);
}

@media screen and (max-width: 1000px) {
    .profile-content{
        width: 90%;
    }
    .profile-avatar-form{
        width: 80%;
    }
}

@media screen and (max-width: 700px) {
    .profile-content {
        width: 95%;
    }
    .profile{
        grid-template-rows: 1fr 1fr 1fr 3fr 1fr;
        grid-template-columns: 1fr;
        max-height: 1200px;
    }
    .profile-preview-block{
        grid-row: 1;
        grid-column: 1;
    }
    .profile-header-block{
        grid-row: 2;
        grid-column: 1;
    }
    .profile-menu-block{
        grid-row: 3;
        grid-column: 1;
        align-items: center;
        justify-content: center;
    }
    .profile-logout-block{
        grid-row: 5;
        grid-column: 1;
    }
    .profile-header-block,
    .profile-main-block{
        border-left: none;
    }
    .profile-avatar-form{
        width: 90%;
    }
}