.coursemain-content{
    width: 100%;
    min-height: 100vh;
    position: relative;
    height: auto;
}
.coursemain-menu{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    transition: all 0.3s ease-in;
    min-width: 20px;
    background: linear-gradient(#232222, #2f2d2d);
    width: 30px;
    border-left: 1px solid transparent;
    border-bottom-right-radius: 1rem;
    border-top-right-radius: 1rem;
    overflow: hidden;
    z-index: 1000;
}
.coursemain-menu.menu-full{
    width: 300px;
    border-left: 1px solid #3a3939;
}
.coursemain-menu ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
    transform: translateY(100%);
}
.coursemain-menu ul li{
    border: 1px solid #3f3e3e;
    padding: 0.2rem 0;
    transition: background-color 0.4s ease-in, color 0.3s ease-in, padding 0.4s ease-in-out;
    cursor: pointer;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: var(--text-gray);
    overflow: hidden;
}
.border-top{
    border-top: 1px solid #3f3e3e;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}
.coursemain-video-wrap{
    width: 80%;
    border: 1px solid #3f3e3e;
    padding: 2.8rem 1rem;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
}
.coursemain-menu ul li.li-active{
    background-color: #424141;;
}
.coursemain-menu ul li.opened-menu-li{
    text-align: left;
    padding-left: 3rem;
}
.coursemain-menu ul li:hover{
    background-color: #3f3e3e;
    color: var(--text-white);
    padding: 0.2rem 0.3rem;
}
.coursemain-menu ul li.li-active:hover{
    padding-left: 3rem;
    color: var(--text-gray);
    cursor: default;
}
.coursemain-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.2rem 2rem;
    width: 100%;
}
.coursemain-buttons{
    width: calc(100% + 4rem);
    display: flex;
    justify-content: space-around;
    background-color: #2a2929;
    padding: 1.2rem 2.4rem;
    margin-top: 3.8rem;
    margin-bottom: 1.4rem;
}
.coursemain-buttons button{
    padding: 0.4rem 0.8rem;
    cursor: pointer;
    background-color: transparent;
    border-radius: 0.4rem;
    font-size: 16px;
    font-weight: 300;
}
.coursemain-buttons button:first-child{
    color: var(--text-gray);
}
.coursemain-buttons button:first-child i{
    margin-left: 0.2rem;
}
.coursemain-buttons button:first-child:hover{
    color: var(--text-white);
}
.coursemain-buttons button:last-child{
    color: var(--text-gray)!important;
    border: 2px solid #357035;
    border-top-color: #579a57;
    border-left-color: #579a57;
}
.coursemain-buttons button:last-child i{
    margin-right: 0.2rem;
    color: green;
}
.coursemain-buttons button:last-child:hover{
    color: var(--text-white)!important;
    border: 2px solid #65a265;
}
.coursemain-image-wrap{
    width: 80%;
    max-width: 700px;
    min-width: 260px;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    padding: 0.8rem 1rem;
    border: 1px solid #3f3e3e;
}
.coursemain-image-wrap img{
    width: 100%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}
.coursemain-info h1{
    color: var(--text-white);
    font-weight: 300;
    font-family: Lato, "Verdana", sans-serif;
    font-size: 28px;
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
    padding: 0;
    width: 80%;
}
.coursemain-course{
    width: 80%;
    border-left: 1px solid #3f3e3e;
    border-right: 1px solid #3f3e3e;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.8rem 1rem;
}
.coursemain-course p{
    color: var(--text-gray);
    font-weight: 300;
    font-family: Lato, "Verdana", sans-serif;
    font-size: 16px;
    width: 100%;
    text-align: left;
}
.stage-text{
    text-align: justify;
}
.li-visited i{
    color: #579a57;
    margin-right: 0.8rem;
}
.video-player-mobile div iframe{
    width: 300px!important;
    height: 180px!important;
}
@media screen and (max-width: 1345px) {
    .coursemain-info{
        padding: 0;
    }
    .coursemain-buttons{
        background-color: transparent;
    }
}
@media screen and (max-width: 1000px) {
    .coursemain-video-wrap{
        width: 100%;
        padding: 1.4rem 0;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    .coursemain-image-wrap{
        width: 90%;
    }
}
@media screen and (max-width: 700px) {
    .coursemain-video-wrap{
        width: 90%;
    }
    .coursemain-course{
        width: 90%;
    }
    .coursemain-buttons{
        width: 100%;
    }
    .coursemain-info h1{
        margin-top: 3rem;
        margin-bottom: 3rem;
    }
    .coursemain-info{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .coursemain-menu{
        position: absolute;
        top: 0;
        right: auto;
        width: 100%;
        height: 30px;
        border-radius: 1rem 1rem 0 0;
    }
    .coursemain-menu.menu-full{
        min-height: 300px;
        height: 100%;
        width: 100%;
        border-left: 1px solid #3a3939;
    }
    .coursemain-menu ul{
        display: flex;
        width: 100%;
        justify-content: center;
    }
    .coursemain-menu.menu-full ul{
        flex-direction: column;
    }
    .coursemain-menu ul{
        padding: 0;
        margin: 0;
        list-style-type: none;
        transform: translateY(0%);
    }
    .coursemain-menu ul li{
        border: 1px solid #3f3e3e;
        padding: 0.2rem 0.4rem;
        transition: background-color 0.4s ease-in, color 0.3s ease-in, padding 0.4s ease-in-out;
        cursor: pointer;
        font-family: "IBM Plex Sans", sans-serif;
        font-weight: 300;
        font-size: 20px;
        color: var(--text-gray);
        overflow: hidden;
    }


}