.app-menu-content {
    width: 100%;
    left: 0;
}

.app-menu-list {
    width: 100%;
    height: 100vh;
    list-style-type: none;
    margin: 0;
    background-color: #232427;
    padding: 1.2rem 1%;
    transition: all 0.4s ease-in;
    position: relative;
}

.minimize-toggle {
    width: 1rem!important;
    height: 100%;
    position: absolute!important;
    background-color: #25272a;
    top: 0;
    left: calc(100% - 1.1rem);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0.05rem!important;
    transition: all 0.1s ease-in;
    transform: translate(0)!important;
}
.app-menu-list.menu-minimized .minimize-toggle{
    /*background-color: transparent;*/
    left: 100%;
}
.app-menu-list.menu-minimized {
    width: 50%;
}
.menu-minimized li{
    justify-content: center;
}
.app-menu-list li {
    width: 100%;
    padding: 1.2rem;
    text-align: left;
    opacity: 1;
    transition: opacity 0.4s ease-in, transform 0.4s ease-in;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.menu-minimized li{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.app-menu-list li a {
    text-decoration: none;
    color: var(--text-gray);
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 300;
    font-size: 20px;
    z-index: 20;
}

.app-menu-list li:last-child img {
    width: 50px;
    border-radius: 25%;
}

.minimize-toggle i {
    font-weight: 600;
    color: var(--text-gray);
    font-size: 18px;
    position: relative;
}
.minimize-toggle:hover i {
    color: var(--text-white);
}
.app-menu-list li a:before{
    content: "";
    border-bottom: 1px solid #3c3d41;
    position: absolute;
    width: 85%;
    height: 100%;
    top: 0;
    left: 0;
    transition: all 0.2s linear;
    transform: translateX(-110%);
    opacity: 0;
}
.app-menu-list li:hover a:before{
    transform: translateX(0);
    opacity: 0.6;
}
.app-menu-list li:hover a{
    color: var(--text-white);
}
.app-menu-list.menu-minimized li{
    position: relative;
}
.menu-minimized li{
    width: 61px;
    height: 61px;
}
.minimize-toggle{
    width: auto!important;
    height: 100vh!important;
}
.minimize-toggle i{
    transition: all 0.4s ease-in;
    transform: translateX(0);
}
.minimize-toggle i.menu-icon-rotate{
    transform: rotate(180deg) translateX(3px);
}
.menu-minimized li::after {
    content: "";
    background-color: #232222;
    width: 80%;
    height: 80%;
    position: absolute;
    z-index: 1;
    pointer-events: none;
    border-radius: 0.8rem;
}
.menu-minimized li:last-child::after {
    background-color: transparent;
}
.menu-minimized li:last-child:hover:after{
    box-shadow: none;
}
.menu-minimized li:hover::after{
    box-shadow: 1px 2px #2b2d31;
}
.menu-minimized li a:before{
    visibility: hidden;
}
.app-menu-mobile{
    display: none;
}

@media screen and (max-width: 1350px) {
    .app-menu-list{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
@media screen and (max-width: 750px) {
    .app-menu-list{
        display: none;
    }
    .app-menu-mobile {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: auto;
        position: fixed;
        bottom: 0;
        left: 0;
        border-top: 1px solid #606060;
        list-style-type: none;
        margin: 0;
        background-color: #232427;
        padding: 0 10%;
        transition: all 0.4s ease-in;
        z-index: 10000;
    }
    .app-menu-mobile li {
        width: 100%;
        text-align: left;
        opacity: 1;
        transition: opacity 0.4s ease-in, transform 0.4s ease-in;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .app-menu-mobile li:before{
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        pointer-events: none;
        left: 0;
        top: 0;
        opacity: 0;
        background-color: #2c2d31;
        transition: opacity 0.2s ease-in;
    }
    .app-menu-mobile li:hover:before{
        opacity: 0.4;
    }
    .app-menu-mobile:hover li a{
        border: none!important;
    }
    .app-menu-mobile li a {
        text-decoration: none;
        color: var(--text-gray);
        padding: 1.2rem;
        font-family: "IBM Plex Sans", sans-serif;
        font-weight: 300;
        font-size: 20px;
        z-index: 20;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-left: 1px solid #27282c;
    }
    .app-menu-mobile li:last-child a{
        border-right: 1px solid #27282c;
    }
    .app-menu-mobile li a i:hover{
        color: var(--text-white)
    }
}