.footer-container{
    width: 100%;
    min-height: 40vh;
    background-color: #1c1b1b;
    display: grid;
    grid-template-rows: 7fr 3fr;
    grid-template-columns: 1fr;
}
.footer-content,
.footer-basement{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    max-width: var(--content-max-width);
}

.footer-content{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 2fr 1fr
}
.footer-content div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-content div span{
    font-size: 20px;
    font-family: "Input Sans", sans-serif;
    font-weight: 400;
}
.footer-content div span:first-child{
    color: #6e7883;
    font-size: 18px;
}
.footer-content div span:nth-child(2){
    color: var(--text-gray);
    font-weight: 500;
}
#footer-logo{
    border-radius: 50%;
    width: 100px;
    opacity: 65%;
}
.footer-content div a{
    font-size: 30px;
    color: var(--text-gray);
    margin: 0.6rem;
}
.footer-content div a:hover{
    text-shadow: 1px 1px 1px var(--text-gray);
    color: var(--text-white)
}
.footer-basement p{
    padding-top: 1.2rem;
    color: var(--text-gray);
    opacity: 80%;
    font-weight: 200;
    font-size: 12px;
    font-family: "Input Sans", sans-serif;
}
.footer-basement hr{
    opacity: 40%;
}

@media screen and (max-width: 700px){
    #footer-logo{
        display: none;
    }
}
