.accordion{
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    position: relative;
    max-height: 85px;
    transition: all 0.4s ease-in;
}
.accordion.accordion-height{
    max-height: 1000px;
}
.accordion-header{
    border: 1px solid #4a4e54;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    transition: all 0.4s ease-in;
    background-color: #242526;
    z-index: 15;
}
.accordion-header.accordion-header-active{
    background-color: #2d2f33;
}
.accordion-body {
    overflow: hidden;
    transition: transform 0.5s ease-in;
    transform: translateY(-300%);
    min-height: 5rem;
    border: 1px solid #2b2d31;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #e8e7e7;
    z-index: 10;
}
.accordion-body > *{
    text-align: left;
}
.accordion-body h2,
.accordion-body p{
    width: 100%;
    padding: 0 12%;
}
.accordion-body h2{
    font-weight: 300;
    font-size: 20px;
    font-family: "Input Sans", sans-serif;
}
.accordion-body h2.text-center{
    text-align: center;
}
.accordion-body p{
    font-family: Lato, "Verdana", sans-serif;
}
.accordion-body.accordion-opened {
    display: block;
    transform: translateY(0);
}

.accordion-header i{
    font-size: 30px;
    color: var(--text-gray);
    transition: all 0.5s ease-in;
    margin-left: 1.2rem;
}
.accordion-header i.accordion-icon-opened{
    transform: rotate(135deg) scale(1.3);
    color: var(--text-white);
}
.accordion-header p{
    text-align: left;
    align-self: center;
    margin-right: 1.2rem;
    font-size: 18px;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 300;
    color: var(--text-gray);
    transition: all 0.4s ease-in;
}
.accordion-header p.accordion-p-opened{
    color: var(--text-white);
    transform: translateX(-10%);
}

@media screen and (max-width: 1000px) {

}

@media screen and (max-width: 700px) {
    .accordion{
        width: 100%;
    }
    .accordion-header p.accordion-p-opened{
        transform: translateX(0);
    }
}