
*{
  font-family: "Leelawadee", "Verdana", sans-serif;
  box-sizing: border-box;
}
:root {
    --primary-color: #007aff;
    --text-white: #f6f4f4;
    --text-gray: #b7b6b6;

    --content-width-1000: 70%;
    --content-width-700: 80%;
    --content-max-width: 1560px;
}
.App {
  text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    max-height: 100vh;
}
.loader {
  border: 7px solid #f3f3f3;
  border-top: 7px solid #9b9b9b;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

.loader_container {
  width: 50px;
  height: 50px;
  margin: 25% auto;
}

.loader-parent-container {
  width: 98%;
  height: auto;
  border-radius: 5px;
  background: #fff;
  padding: 20px 20px;
}
.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pointer-none{
    pointer-events: none;
}
.back-button{
  width: 3rem;
  height: 2rem;
  position: absolute;
  top: 2%;
  left: 2%;
  border-radius: 0.6rem;
  background-color: #3b3a3a;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.4rem;
}
.back-arrow{
  color: var(--text-white);
  width: 100%;
  height: 100%;
  font-size: 18px;
  text-decoration: none;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 00;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.4rem;
}