
*{
  font-family: "Leelawadee", "Verdana", sans-serif;
  box-sizing: border-box;
}
:root {
    --primary-color: #007aff;
    --text-white: #f6f4f4;
    --text-gray: #b7b6b6;

    --content-width-1000: 70%;
    --content-width-700: 80%;
    --content-max-width: 1560px;
}
.App {
  text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.loader {
  border: 7px solid #f3f3f3;
  border-top: 7px solid #9b9b9b;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

.loader_container {
  width: 50px;
  height: 50px;
  margin: 25% auto;
}

.loader-parent-container {
  width: 98%;
  height: auto;
  border-radius: 5px;
  background: #fff;
  padding: 20px 20px;
}
.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pointer-none{
    pointer-events: none;
}